
<%= form_for(@some_quiz) do |f| %>
    <% @quiz_questions.each_with_index do |question,index| %>
        <p><%= question.description %></p>
        <%= f.fields_for @answers[index] do |ff| %>
            <%= ff.label :answer %>
            <%= ff.text_area :answer %>
        <% end %>
    <% end %>
    <%= f.submit %>
<% end %>
    
    
