<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Course name</th>
      <th>Teacher</th>
      <th>Grade</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% quiz_results.each do |q| %>
      <tr>
        <td><%= q.user.name %></td>
        <td><%= q.pending_quiz.quiz.course.name %></td>
        <td><%= q.pending_quiz.quiz.course.user.name %></td>
        <td><%= q.grade %></td>
        <td><%= link_to 'Show', q %></td>
      </tr>
    <% end %>
  </tbody>
</table>