<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Start Page" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Start Page" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
   
  </head>
  <body>
    <% if notice %>
    <div id="notice_wrapper">'
      <p class="notice"><%= notice %></p>
    </div>
   <% elsif alert %>
   <div id="notice_wrapper">
       <p class="alert"><%= alert %></p>
   </div>
   <% end %>
   <% unless current_page?('https://milica-cubrilomilica.c9users.io/') %>
      <%= render :partial => 'layouts/navigation' %>
   <% end %>
       
       <div <% unless current_page?('https://milica-cubrilomilica.c9users.io/') %>class="container" <% end %>>
         <%= yield %>
       </div>
       
  </body>
</html>
