<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Start Page" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Start Page" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
     <!-- Bootstrap Core CSS -->
    <link href="../assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../assets/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../assets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% if notice %>
    <div id="notice_wrapper">'
      <p class="notice"><%= notice %></p>
    </div>
   <% elsif alert %>
   <div id="notice_wrapper">
       <p class="alert"><%= alert %></p>
   </div>
   <% end %>
       
       <div <% unless current_page?('https://milica-cubrilomilica.c9users.io/') %>class="container" <% end %>>
         <%= yield %>
       </div>
       
  </body>
</html>
